# --- Kernel Sürücü Çıktıları ---
*.sys
*.pdb
*.inf
*.log
*.map
*.asm
*.lst
*.exp
*.lib

# --- Visual Studio / WDK Derleme Çıktıları ---
*.obj
*.o
*.ilk
*.user
*.suo
*.db
x64/
x86/
ARM64/
Debug/
Release/
Build/
.vs/

# --- Güvenlik: Hassas Dosyalar (ASLA GİTMEMELİ) ---
*.pfx
*.cer
*.snk
*.private
config.h
secrets/

# --- Genel İşletim Sistemi Artıkları ---
.DS_Store
Thumbs.db
